.containerModalCadastro{
    width: 100%;
}
.FormModalCadastro{
    display: flex;
    flex-direction: column;
    padding: 15px;

}
.cadastroTitle{
    padding: 5px 25px;
}
.lbinput{
    padding: 10px 25px;
}
.inputNome,
.inputEmail,
.inputSenha,
.inputConfirme{
    height: 30px;
    width: 90%;
    margin: 0 auto;
}
.btnsub{
    align-self: flex-end;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    height: 35px;
    width: 150px;
}