.App{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100vh;
    background-color: var(--backgrond-color);
    
}

@media (max-width:800px) {
    .App{
     height: 95vh;

 }
}
